{% extends 'base.html' %}
{% block content %}
<div class="welcome">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h2>Welcome Dr. {{doctor.name}}</h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="statistics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <a href="{% url 'newPatient'%}">
        <div class="box">
          <i class="fa fa-plus fa-fw bg-primary"></i>
          <div class="info">
            <h3>NEW PATIENT</h3>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section>
  <section class='statis text-center'>
    <div class="container-fluid">
      <div class="row">
        <h1>Your week in numbers</h1>
        <div class="col-md-3">
          <div class="box bg-primary">
            <i class="fa fa-eye"></i>
            <h3>20</h3>
            <p class="lead">Patients Seen</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box danger">
            <i class="fa fa-user-o"></i>
            <h3>10</h3>
            <p class="lead">New Patients</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box warning">
            <i class="fa fa-snapchat-ghost"></i>
            <h3>0</h3>
            <p class="lead">Patients Lost</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box success">
            <i class="fa fa-handshake-o"></i>
            <h3>10</h3>
            <p class="lead">Discharged Patients</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="chrt3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="chart-container">
            <canvas id="chart3" width="100%"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
