{% extends 'base.html' %}{% load bootstrap3 %} {% load staticfiles %} {% block content %}
<div class="container" style="background-color:white; width:100%">
  <div id="filters" class="col-xs-12">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
    </div>
  </div>

  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <th>Patient</th>
        <th>Details</th>
        <th>Symptoms</th>
        <th>Diagnosis</th>
        <th>Recommendations</th>
      </thead>
      <tbody>
        <tr>
          <td>{{patient.name}}</td>
          <td>
            <ul>
              <li><b>NHIF_number: </b>{{patient.NHIF_number}}</li>
              <li><b>Blood Group: </b>{{patient.blood_group}}</li>
              <li><b>Age: </b>{{patient.date_of_birth|timesince}} years</li>

            </ul>

            <ul>
              <li><b>Status: </b>{{patient.status}}</li>
              <li><b>Contacts: </b>0{{patient.phone_number}}</li>
              <li><b>Email: </b>{{patient.email}}</li>
            </ul>
          </td>
          <td id="details">{{treatment.symptoms}}</td>
          <td id="details">{{treatment.diagnosis}}</td>
          <td id="details">{{treatment.recommendations}}</td>
        </tr>

        <tr>
          <td><h4>Consultation Fee</h4></td>
          <td>
            <h4>{{treatment.consultation_fee}}</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<style media="screen">
#filters {
padding-top: 15px;
padding-bottom: 15px;
border-bottom: 1px #eee solid;
margin-bottom: 15px;
}

a {
cursor: pointer;
}

ul {
list-style:none;
padding: 0px;
}

#details{
  font-size: 13px;
}
</style>
{% endblock %}
