{% extends 'base.html' %}{% load bootstrap3 %} {% load staticfiles %} {% block content %}
<div class="container-fluid">
  <div class="container" id="treatment-form" style="position:absolute; z-index:100; top:-10px; right:290px">
    <form id="contact" action="" method="POST">
      {%csrf_token%}
      <h3>Diagnosis</h3>
      {{form.symptoms.label}}
      <fieldset>
        {{form.symptoms}}{{form.symptoms.errors}}
      </fieldset>
      {{form.diagnosis.label}}
      <fieldset>
         {{form.diagnosis}} {{form.diagnosis.errors}}
      </fieldset>
      {{form.recommendations.label}}
      <fieldset>
         {{form.recommendations}} {{form.recommendations.errors}}
      </fieldset>
      <fieldset>
        {{form.consultation_fee.label}} {{form.consultation_fee}} {{form.consultation_fee.errors}}
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit1" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .container {
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
  }

  .container-fluid {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }

  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }

  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }

  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .copyright {
    text-align: center;
  }

  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }

  ::-webkit-input-placeholder {
    color: #888;
  }

  :-moz-placeholder {
    color: #888;
  }

  ::-moz-placeholder {
    color: #888;
  }

  :-ms-input-placeholder {
    color: #888;
  }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(event) {

    $('#contact-submit1').click(function(event) {
      $('#next_of_kin_form').css("display", "none");
    });

    $('#contact-submit2').click(function(event) {
      $('#medicine_form').css("display", "none");
    });

    $('#contact-submit3').click(function(event) {
      $('#medical_cover_form').css("display", "none");
    });

    $('#contact-submit4').click(function(event) {
      $('#allergies_and_directives_form').css("display", "none");
    });

    $('#NewNextOfKinDisplayForm').click(function(event) {
      $('#next_of_kin_form').toggle(500);
    });

    $('#newMedicineDisplay').click(function(event) {
      $('#medicine_form').toggle(500);
    });
    $('#newMedicalCoverDisplay').click(function(event) {
      $('#medical_cover_form').toggle(500);
    });
    $('#allergies_and_directives_display').click(function(event) {
      $('#allergies_and_directives_form').toggle(500);
    });
    newMedicalCoverDisplay
  });
</script>
{% endblock %}
