{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__content">
      <h1 class="heading--primary">Welcome to PaMaSystem.</h1>
      <h2 class="heading--secondary">Are you ready to join the elite?</h2>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <div class="login-page">
      <div class="form">
        {% if form.errors %}
          <p style="color:red"> Some information is inaccurate </p>
        {% endif %}
        <form action="/accounts/register/" method="post">
          {% csrf_token %}
          <h1>Sign Up</h1>
          <label style="color:black">{{form.username.label}}</label> {{form.username}}{{form.username.errors}}
          <label style="color:black">{{form.email.label}}</label> {{form.email}}{{form.email.errors}}
          <label style="color:black">{{form.password1.label}}</label> {{form.password1}}{{form.password1.errors}}
          <label style="color:black">{{form.password2.label}}</label> {{form.password2}}{{form.password2.errors}}
          <a href="/profile">
          <button>Sign Up</button>
          </a>
          <p class="message1">Already registered? <a href="/accounts/login/">Sign In</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  @import url("https://fonts.googleapis.com/css?family=Droid+Sans|Amaranth|Monoton");
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  .message1 {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .message1 a {
    color: #4CAF50;
    text-decoration: none;
  }

  form {
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    marg
  }

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .signup__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .25);
    font-size: 30px;
  }

  .signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .76);
    opacity: 0.5;
  }

  .container__child {
    width: 50%;
    height: 100%;
    color: #fff;
  }

  .signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url('http://media.beam.usnews.com/8d/70/0554d0494a2c917dd0e6aceb69f0/140617-doctorpatient-stock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .thumbnail__logo,
  .thumbnail__content,
  .thumbnail__links {
    position: relative;
    z-index: 2;
  }

  .thumbnail__logo {
    align-self: flex-start;
  }

  h1,
  h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
  }

  .heading--secondary {
    font-size: 1.414rem;
  }

  .thumbnail__links {
    align-self: flex-end;
    width: 100%;
  }

  .thumbnail__links a {
    font-size: 1rem;
    color: #fff;
    &:focus,
    &:hover {
      color: rgba(255, 255, 255, .5);
    }
  }

  .signup__form {
    padding: 2.5rem;
    background: #fafafa;
  }

  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
  }


  [type="text"] {
    color: #111;
  }

  [type="password"] {
    color: #111;
  }

  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 35px;
    &:focus,
    &:hover {
      background: lighten(#111, 13%);
    }
  }

  .signup__link {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
    &:focus,
    &:hover {
      color: darken(#999, 13%);
    }
  }
</style>
{% endblock %}
